/* Fonts and Text Formatting */

.navbar-brand {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

.navbar li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar-toggler-icon i {
    margin: 0;
}

.active {
    text-decoration: underline;
}

.title {
    font-family: 'Exo', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.title h1{
    font-weight: 500;  
}

.title h2 {
    font-weight: 500;
}

.content-heading {
    color: #D67214;
    font-family: 'Exo', sans-serif;
}

#about-text {
    color: #fafafa;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.video-title {
    color: #D67214;
    font-family: 'Exo', sans-serif;
}

.video-description {
    color: #fafafa;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.first-name {   
    color: #fafafa;
}

.last-name {
    color: #D67214;
}

.title h2 {
    color: #fafafa;
}

th {
    font-family: 'Lato', sans-serif;
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

tr {
    font-family: 'Lato', sans-serif;
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.form-label {
    font-family: 'Lato', sans-serif;
    color: #fafafa;
    font-size: 20px;
}

/* Colours */

body {
    background-color: #181818;
}

.navbar {
    background-color: #3e3e3e;
}

.navbar li a {
    color: #D67214;
}

.navbar-toggler-icon i {
    color: #fafafa
}

/* Background Image */

.bg-image {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/IMG_20190107_182235.JPG);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Layout */

.row {
    padding-top: 20px;
}

/* Navbar Hover */

.nav-item:hover {
    text-decoration: underline;
}

/* Media Queries */

@media only screen and (min-width: 0px) {
    .title h1{
        font-size: 60px;   
    }
    .title h2{
        font-size: 28px;
    }
    .content-heading {
        font-size: 46px;
    }
    #about-text {
        text-align: center;
    }
    #video-title {
        font-size: 45px;
    }
}

@media only screen and (min-width: 768px) {
    .title h1{
        font-size: 120px;   
    }
    .title h2 {
        font-size: 58px;
    }
    .content-heading {
        font-size: 64px;
    }
    #about-text {
        text-align: center;
    }
    #video-title {
        font-size: 50px;
    }
}

@media only screen and (min-width: 992px) {
    
    .title h1{
        font-size: 144px;   
    }
    .title h2 {
        font-size: 72px;
    }
    .content-heading {
        font-size: 85px;
    }
    #about-text {
        text-align: left;
    }
    .video-title {
        font-size: 65px;
    }
    
}